// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
border-collapse: collapse;
margin: 0 auto;
padding: 0;
width: 800px;
margin-left: auto;
margin-right: auto;
box-shadow: 0 0 15px -6px #00000073;
}

table tr {
background-color: #fff;
}

table th,
table td {
padding: 20px 0;
border-bottom: 1px solid #eee;
}

table  th {
width: 20%;
padding: 10px 0;
font-size: 14px;
padding: 15px;
background-color: #aaaaaa;
color:#fff;
}

table tr{
text-align: center;
width: 20%;
padding: 20px 0;
background-color: #fff;
color:#3a3a3a;
}

table tr:hover{
background-color: #feffd4;
}

.icon{
width: 20px;
}
  
.site-header{
    background: #800000;
}
.site-title {
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none; 
    color: #FFF;
}
nav ul { 
    list-style-type: none;
    margin: 2% 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul a {
    color: #a9abae;
    text-decoration: none; 
}
nav ul li { 
    display: inline-block; 
}
nav ul li a {
    text-decoration: none; 
    color: #a9abae;
}
.clear-decoration {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}